.wrapper {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.container {
    background-color: #c0dff9;
    display: flex;
    width: 100%;
    max-width: 100%;
    min-height: -webkit-fill-available;
    border-radius: 20px 20px 0 0;
}

.column {
    flex-basis: 25%;
    text-align: center;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.column1 span,
.column2 span,
.column3 span {
    position: relative;
    width: 100%;
    display: inline-block;
    font-weight: 700;
    font-size: 1.25vw;
    padding-bottom: 1vw;
}


.column1 span::after,
.column2 span::after,
.column3 span::after {
    content: "";
    border-bottom: 1px solid black;
    width: 15%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.column4 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
}

.column4 ul svg {
    width: 1.25vw;
    height: 1.25vw;
}


.column4 input {
    background-color: transparent;
    border: 1px solid rgba(11, 10, 7, 0.3);
    padding: .5vw;
    text-align: center;
    border-radius: 3px;
}

.column4 input:focus-visible {
    outline: none;
    border: 1px solid rgba(11, 10, 7, 0.7);
}


.meetingCol {
    padding: 60px;
    box-shadow: 0px 15px 80px -6px rgb(0 0 0 / 30%);
    width: 45%;
    margin: auto;
    position: relative;
}

.meetingWrapper {

}

.aboutWrapper {

}