@import url("https://pagecdn.io/lib/easyfonts/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body > div > section:nth-child(2) {
	padding-top: 6rem;
}

html {
	--font-weight-bolder: 700;
	--font-weight-bold: 600;
	--font-weight-default: 500;
	--colors-text-light-gray: #666;
	--colors-text-dark-gray: #333;
	--colors-text-gold: #edbb5f;
	--colors-text-over-light: #0b0a07;
	--colors-text-over-dark: #ffffff;
	--colors-secondary-text-bg: #800000;
	--spacing-two-column-gap: 5%;
	--spacing-section-padding: 5rem;
	--duration-paused: paused;
	--duration-slow: 0.75s;
	--duration-normal: 500ms;
	--easing-ease: ease;
	--radius-circle: 50%;
	--radius-large: 8px;
	--radius-small: 2px;
	--opacity-opacity-25: 0.25;
	--opacity-opacity-50: 0.5;
	--opacity-opacity-75: 0.75;
	--shadow-level-1: 0px 2px 30px -10px rgb(0 0 0 / 30%);
	--shadow-level-2: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
		0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
	--shadow-level-3: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
		0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
	--media-query-max-width-mobile: 600px;
	--media-query-max-width-tablet: 1024px;
	--font-family-body: "Lato", sans-serif;
	--font-family-btn: "Saira Extra Condensed", sans-serif;
	--font-family-fancy-header: "Playfair Display", serif;
	--font-family-subtitle: "Poppins", sans-serif;
	--font-size-section-smaller: 0.75rem;
	--font-size-section-body: 1rem;
	--font-size-section-header: 4rem;
	--font-size-section-title: 3rem;
	--font-size-section-subtitle: 1.25rem;
}
